<div class="home-container">
  <h1 class="home-title">¡Hola, Rails!</h1>
  <p class="home-subtitle">Bienvenido a tu blog, aquí puedes ver todas tus publicaciones.</p>
  <%= link_to "Ir al Blog", posts_path, class: "home-link" %>
</div>
