<div class="home-container">
  <h1 class="home-title">¡Hola, Rails!</h1>
  <p class="home-subtitle">Bienvenido a tu blog, inicia sesión para continuar.</p>
  <%= link_to "Login", new_user_session_path, class: "home-link" %>
</div>